<%- include('header') -%>

    <div class="box" id="heading">
      <h1><%= listName %></h1>
    </div>
    <div class="box">
        <% item.forEach(element => { %>
            <div class="item">
            <input type="checkbox">
            <p><%= element %></p>
        </div>
        <% }); %>

      <form class="item" action="/" method="post">
        <input type="text" name="task" id="" placeholder="Enter new Task" autocomplete="off">
        <button type="submit" name='list' value=<%= listName %>>+</button>
      </form>
    </div>

<%- include('footer') -%>