<%- include('header') -%>

    <div class="box" id="heading">
      <h1><%= listName %></h1>
    </div>
    <div class="box">
        <% item.forEach(element => { %>
          <form action="/delete" method="post">
            <div class="item">
              <input name="checkBox" value=<%= item._id %> onchange="this.form.submit()" type="checkbox">
              <p><%= element.task %></p>
          </div>
          </form>
        <% }); %>

      <form class="item" action="/" method="post">
        <input type="text" name="task" id="" placeholder="Enter new Task" autocomplete="off">
        <button type="submit" name='list' value=<%= listName %>>+</button>
      </form>
    </div>

<%- include('footer') -%>