<%- include('./partials/header') -%>
<h1><%= title %></h1>
<p><%= p_text %></p>

<% for( let index = 0; index < posts.length; index++ ) { %>

<h1><%= posts[index].title %></h1>
<p><%= posts[index].content.substring(0, 100) + "...";  %> <a href="/posts/ <%= posts[index].title %> ">Read More</a> </p>

<% } %> 
<%- include('./partials/footer') -%>



alias mongod="/c/Program\ files/MongoDB/Server/5.0/bin/mongod.exe"
alias mongo="/c/Program\ Files/MongoDB/Server/5.0/bin/mongo.exe"